.form-control {
  display: flex;
  margin: 10px;
}

.input {
  padding: 0 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #772099;
  border-radius: 4px;
  box-sizing: border-box;
}

.send-btn {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #4caf50;
  border-radius: 4px;
  color: #4caf50;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: #232e5e;
}

input {
  background-color: rgba(0, 0, 0, 0.1);
}