<form (ngSubmit)="onSubmit()">
  <div class="form-control">
    <div class="input one">
      <input
        type="text"
        name="text"
        [(ngModel)]="text"
        id="text"
        placeholder="Add quote.."
      />
    </div>

    <br />
    <div class="input two">
      <input
        type="text"
        name="author"
        id="author"
        [(ngModel)]="author"
        placeholder="Author name"
      />
    </div>
    <input type="submit" value="Add quote" class="send-btn" />
  </div>
  <p>{{ text }}</p>
  <!--two way data binding-->
</form>
