header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg,#3e1ccd,#ff6871);
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 1.4%;
}

.nav-links {
  align-self: center;
}
.nav-links a {
  text-decoration: none;
  color: #2c1e55;
  margin: 8px;
  font-size: 1.2em;
  font-weight: 500;
}

.nav-links a:hover {
  border-bottom: 4px solid #303133;
}
