.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}
.quote-container {
    border: 1px solid #b0bd3c75;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.quote-caption {
  width: 60%;
  background-color: rgb(92, 65, 155);
  border-radius: 0 10px 0 10px;
  padding: 20px;
  font-size: 1.2em;
  margin-top: 0.5em;
  position: relative;
}
p {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(247, 237, 215);
}
.author {
  font-size: 1em;
  font-style: italic;
  color: #ffe8cb;
}
.quote-right,
.quote-left {
  color: rgb(81, 168, 219);
  font-size: 2.6em;
}
.quote-left {
  position: absolute;
  top: -20px;
  left: -1.8%;
}

.quote-right {
  position: absolute;
  bottom: -20px;
  right: -1.8%;
}
