.quote {
  /* background: #f4f4f4; */
  border: #696666 1px solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 16px;
  cursor: pointer;
}

.quote p {
  font-size: 1em;
  color: #b9b7b7;
  font-family: monospace;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-box {
  display: flex;
  justify-content: space-between;
}

.btns span {
  padding: 5px;
}

fa-icon:nth-child(2n):hover {
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(30, 30, 66);
}
